/* ############################ */
/* STYLESHEET CSS USED FOR SITE */
/* ############################ */

body{
  font: 15 px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* #################### */
/* Global Modifications */
/* #################### */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Unordered List Modifications */
header ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background:#e8491d; /* Color of button background */
  border:0; /* By default, borders will exist around a default button */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  color:#ffffff; /* Color of text on button */
}

/* ##################### */
/* Header  Modifications */
/* ##################### */

/* Header defaults */
header{
  background: #35424a; /* Color used for backround color of header */
  color: #ffffff; /* Color of text in header */
  padding-top: 25px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

/* Used to Modify the text of menu on the header*/
header a{
  color: #ffffff; /* Color of text  */
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

/* Modifies the Position of the menu on the header */
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px; /* Padding modifier in the order of: Top, Right, Bottom, Left */
}

/* "#branding" specifically focuses on containers with ID=branding */
header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

/* In HTML, ".*" modifies containers using .* as some class */
header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

/* Modifies behavior of the menu items when hovering over them*/
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* ########################## */
/* Eatery Image Modifications */
/* ########################## */

/* Used to modify image appearance for ID=Eatery */
#Eatery{
  min-height: 400px;
  background:url('../img/Eatery.jpg') no-repeat 0 -700px;
  text-align: center;
  color: #ffffff;
}

#Eatery h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#Eatery p{
  font-size: 20px;
}

/* ######################### */
/* Newsletter  Modifications */
/* ######################### */

/* Modifier for the newsletter background */
#newsletter{
  padding:15px;
  color: #ffffff; /* Color of text */
  background: #35424a; /* Background color */
}

#newsletter h1{
  float:left;
}

#newsletter form{
  float: right; /* Repositions the subscribe bar*/
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* #################### */
/* Boxes  Modifications */
/* #################### */
